/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {
    --menu-color: rgb(53, 52, 48);
    --menu-translucent-color: rgba(53, 52, 48, 0.4);
    --link-shadow-color: rgb(255, 141, 203);
    --logo-color: rgb(255, 194, 230);
    --logo-shadow-color: rgb(255, 141, 203);
    --article-header-font-color: rgb(53, 52, 48);
    --header-font-color: rgb(53, 52, 48);
    --header-background-color: rgb(255, 141, 203);
    --text-main-color: rgb(53, 52, 48);
    --main-theme-color: rgb(255, 241, 247);
    --cover-image: url(../images/cover-image-light.png);
}

/*.theme_light .header__rec-label {*/
/*    position: absolute;*/
/*}*/

.theme_light .header__rec-label {
    display: none;
}

@media (prefers-color-scheme: light) {
    :root {
        --menu-color: rgb(53, 52, 48);
        --menu-translucent-color: rgba(53, 52, 48, 0.4);
        --link-shadow-color: rgb(255, 141, 203);
        --logo-color: rgb(255, 194, 230);
        --logo-shadow-color: rgb(255, 141, 203);
        --article-header-font-color: rgb(53, 52, 48);
        --header-font-color: rgb(53, 52, 48);
        --header-background-color: rgb(255, 141, 203);
        --text-main-color: rgb(53, 52, 48);
        --main-theme-color: rgb(255, 241, 247);
        --cover-image: url(../images/cover-image-light.png);
    }

    .theme_auto .header__rec-label {
        display: none;
    }
}