/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
@import url(fonts/fonts.css);

.page {
    /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
    z-index: 10;
    font-family: "IBM Plex Mono", monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.4px; /* 130% */
    padding: 0 var(--paddings-mobile);
    position: relative;
    width: 100%;

    background-color: var(--main-theme-color);
    color: var(--text-main-color);
}

.page:before {
    z-index: -1;
    content: "";
    background-image: var(--cover-image);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    inset-block-start: 0;
    inset-block-end: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    opacity: 0.5;
}

.header, .footer {
    z-index: 10;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100vh;
    margin: var(--paddings-mobile) 0;
    flex: 1 0 auto;
}

.decorated-zone {
    /*display: grid;*/
    position: relative;
    height: calc(100vh - calc(2 * var(--paddings-mobile)));
    /*margin: 10px 0;*/
}

.decorated-zone::before {
    content: '';
    position: absolute;
    border-block-start: solid 1px var(--menu-color);
    border-inline-end: solid 1px var(--menu-color);
    width: 25px;
    height: 25px;
    inset-block-start: 0;
    inset-inline-end: 0;
}

.decorated-zone::after {
    content: '';
    position: absolute;
    border-block-end: solid 1px var(--menu-color);
    border-inline-start: solid 1px var(--menu-color);
    width: 25px;
    height: 25px;
    inset-block-end: 0;
    inset-inline-start: 0;
}

.header__theme-menu {
    position: relative;
    z-index: 10;
}

.header__theme-menu-list {
    padding-block-start: 65px;
    display: grid;
    justify-content: end;
    gap: 10px;
}

.header__theme-menu-button {
    width: 70px;
    height: 26px;
    line-height: 18px;
    padding-block-end: 4.3px;
    text-transform: lowercase;
    text-align: center;
    vertical-align: top;
    color: var(--menu-color);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header__theme-menu-button_active {
    outline: solid 1px var(--menu-color);
    outline-offset: -1px;
    pointer-events: none;
}

.header__theme-menu-button:hover {
    outline: solid 1px var(--menu-translucent-color);
    outline-offset: -1px;
}

.header__theme-menu-button:focus-visible {
    border-style: none;
    border-block-end: solid 1px var(--menu-color);
    outline: none;
}

.focus-logo {
    position: absolute;
    /*inset-inline-start: 50%;*/
    inset-block-start: 50%;
    transform: translate(0,-50%);
    z-index: 1;
    color: var(--logo-color);
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    font-weight: 700;
    line-height: 82.5%;
    text-shadow: 4px 4px 0 var(--logo-shadow-color);
}


.focus-logo__header {
    /*margin-block-start: 66px;*/
    text-align: start;
    vertical-align: top;
}

.header__text {
    position: relative;
    margin-block-end: 55px;
    font-weight: bold;
    line-height: 23.4px;
}

.title-decor {
    background-color: var(--header-background-color);
    color: var(--header-font-color);
}

.main {
    display: grid;
    padding: 40px 0;
    position: relative;
}

.main__section {
    margin-block-start: 50px;
}

.main__section:first-of-type {
    margin-block-start: 0;
}

.main__chapter-header {
    font-weight: bold;
    font-size: 18px;
    color: var(--article-header-font-color);
}

.main__article {
/* todo here */
}

.main__article-header {
    margin-block-start: 20px;
    font-size: 18px;
}

.main__section:last-of-type .main__article-header {
    margin-block-start: 0;
}

.main__article-subheader {
    font-weight: normal;
    margin-block-start: 20px;
    margin-block-end: 10px;
}

.main__article-text {
    margin-block-start: 10px;
}

.main__section__image-container {
    margin-block-start: 10px;
    display: grid;
    row-gap: 10px;
}

.main__section__image {
    width: 100%;
}

.text_link {
    display: inline-block;
    text-shadow: 2px 1px 0 var(--link-shadow-color);
    text-decoration: none;
    padding: 2px 2px 5px 2px;
    outline: 1px solid rgb(0, 0, 0, 0);
    line-height: 8px;
}

.text_link:hover {
    box-shadow: inset 0 -1.5px 0 0 var(--text-main-color);
}

.text_link:focus-visible {
    box-sizing: content-box;
    outline: 1px solid var(--text-main-color);
    padding: -2px 1px 1px 1px;
}

.footer {
    justify-content: center;
}

.focus-logo__footer {
    text-align: center;
    vertical-align: top;
    padding-block-start: 7px;
    padding-inline-start: 2px;
}


@media (min-width: 768px) {
    .page {
        padding: 0 var(--paddings-tablet);
    }

    .header, .footer {
        margin: var(--paddings-tablet) 0;
    }

    .decorated-zone {
        height: calc(100vh - calc(2 * var(--paddings-tablet)));
    }

    .header__theme-menu-list {
        padding-block-start: 172px;
    }

    .focus-logo {
        inset-inline-start: calc(-1 * var(--paddings-tablet));
    }
}