/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
    --menu-color: rgb(255, 0, 112);
    --menu-translucent-color: rgba(255, 0, 112, 0.4);
    --link-shadow-color: rgb(255, 0, 112);
    --logo-color: rgb(219, 0, 255);
    --logo-shadow-color: rgb(255, 0, 112);
    --article-header-font-color: rgb(255, 0, 112);
    --header-font-color: rgb(0, 0, 40);
    --header-background-color: rgb(255, 0, 112);
    --text-main-color: rgb(241, 178, 206);
    --main-theme-color: rgb(0, 0, 40);
    --cover-image: url(../images/cover-image-dark.png);
}