/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
    --menu-color: rgb(255, 0, 112);
    --menu-translucent-color: rgba(255, 0, 112, 0.4);
    --link-shadow-color: rgb(255, 0, 112);
    --logo-color: rgb(219, 0, 255);
    --logo-shadow-color: rgb(255, 0, 112);
    --article-header-font-color: rgb(255, 0, 112);
    --header-font-color: rgb(0, 0, 40);
    --header-background-color: rgb(255, 0, 112);
    --text-main-color: rgb(241, 178, 206);
    --main-theme-color: rgb(0, 0, 40);
    --cover-image: url(../images/cover-image-dark.png);

    --paddings-mobile: 10px;
    --paddings-tablet: 20px;
    --header-padding-mobile: 65px;
    --header-padding-tablet: 173px;
    --min-block-size-mobile: 668px;
    --min-block-size-tablet: 1024px;
    --min-block-size-monitor: 768px;
}